<h1 id="tableLabel">Scheduler</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!httpRecords"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="httpRecords">
  <thead>
    <tr>
      <th>RecordId</th>
      <th>Method</th>
      <th>URI</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let httpRecord of httpRecords">
      <td>{{ httpRecord.httpRecordId }}</td>
      <td>{{ httpRecord.method }}</td>
      <td>{{ httpRecord.uri }}</td>
      <td>{{ httpRecord.body }}</td>
    </tr>
  </tbody>
</table>
